/* ./App.css */
body {
  font-family: Arial, sans-serif;
}

.showmessages {
  width: 80%;
  margin: 0 auto;
}

.channels {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.channels div {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}


.channels div.active {
  background-color: #f0f0f0;
}

.messages {
  border: 1px solid #ddd;
  padding: 1rem;
  height: 350px;
  overflow-y: scroll;
}

.sendmessages {
  width: 50%;
  margin: 2rem auto;
}

.sendmessages form {
  display: flex;
  flex-direction: column;
}

.sendmessages input[type="text"] {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  width:300px;
}

.sendmessages h1 {
  font-size: 30px;
}

.sendmessages button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sendmessages button:hover {
  background-color: #2b5179;
}

.showmessages .messages div {
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  display: block;
}

.loginform {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loginform button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginform button:hover {
  background-color: #2b6ed2;
}
